<div>
    <h1>Que me parece angular?</h1>
    <article>
        <p>
            Angular es un marco de trabajo (framework) de desarrollo de aplicaciones web de código abierto mantenido por Google. Está diseñado para simplificar el proceso de construcción de aplicaciones web robustas y escalables, proporcionando una arquitectura sólida basada en componentes y un conjunto de herramientas para el desarrollo, pruebas y mantenimiento de aplicaciones.
        </p>
        <p>
            Aquí algunos puntos clave sobre Angular:

            Componentes: Angular organiza el código en componentes reutilizables, que son bloques de construcción modulares para las interfaces de usuario. Cada componente tiene su propio HTML, CSS y lógica asociada.

            TypeScript: Angular está escrito en TypeScript, un superconjunto de JavaScript que añade características avanzadas como tipado estático, lo que ayuda a detectar errores durante el desarrollo y mejora la mantenibilidad del código.

            Data Binding: Angular permite una vinculación bidireccional de datos (two-way data binding), lo que significa que cualquier cambio en el modelo de datos se refleja automáticamente en la interfaz de usuario y viceversa.

            Directivas y Pipes: Angular proporciona directivas para manipular el DOM y pipes para transformar datos en las vistas.

            Inyección de Dependencias: Angular tiene un sistema de inyección de dependencias que facilita la gestión de dependencias y promueve la reutilización del código y la modularidad.

            Router: Angular incluye un enrutador que permite la navegación entre diferentes vistas o componentes dentro de una aplicación de una sola página (SPA).
        </p>    
    
    </article>
    @defer(on viewport){
        <app-comments></app-comments>
    }@placeholder{
        <p>
            Futuros Comentarios
        </p>
    }
    
</div>



<!-- <router-outler></router-outler> -->